// Global

body {
  padding-top: 56px;
}

.loading {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

// Table Enhance
.table-salary {
  width: 100%;
  margin-bottom: 0;

  thead, tbody, tr, td, th {
    display: block;
  }

  tr {
    overflow: hidden;
    clear: both;
  }

  td, th {
    float: left;
  }

  tbody {
    width: 100%;
    // View Height - Navbar - Table Header
    height: calc(100vh - 56px - 51px);

    overflow-y: scroll;
  }
}

// Chart
.charts {
  margin-top: 1em;
  margin-top: 1rem;
}


.chart-title {
  margin-bottom: 1em;
  margin-bottom: 1rem;
}
